.tab-group {
    border: 1px solid #e8e8e8;
}

.tab-content {
    padding: 16px;
}

.checkboxes {
    width: 100%;    
    margin-bottom: 10px;
}

.cb_individual {
    margin-left: 20px;
    margin-right: 20px;
}

.width_half {
    width: 48%;
}

.width_third {
    width: 32%;
    margin-bottom: 40px;
}

.width_fifth {
    width: 19%;
}

.titulo {
    font-size: 15pt;
    font-weight: bold; 
}

.subtitulo {
    font-size: 10pt;
    color: #6B6B6B;
}