<h3>Seleccionar alimento</h3>
<form class="form-inline">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Buscar..." [formControl]="alimento">
  </div>
</form>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading ...</p>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let m of results | async">
    <div>
      <div>
        <h5 class="lead">{{ m.descripcion_alimento }}
          <br/>
          <small> ({{ m.calorias }} kcal, HC: {{ m.hidratos_carbono }} {{ m.unidad_medida_hidratos_carbono }}, Proteinas: {{ m.proteina }} {{ m.unidad_medida_proteina }}, Grasas: {{ m.grasa }} {{ m.unidad_medida_grasa }}, Fibra: {{ m.fibra }} {{ m.unidad_medida_fibra }}) 
          </small>
        </h5>
      </div>
      <button type="button" class="btn btn-primary" (click)="agregarAlimento()">Seleccionar</button>
    </div>
  </li>
</ul>