<p>Vista de pacientes</p>

<div class="table-responsive" [hidden]="sinDieta">
  <h2>Pacientes</h2><p class="text-muted">Detalles de los pacientes</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombres</th>
        <th>Sexo</th>
        <th>Talla</th>
        <th>Estado civil</th>
        <th>Fecha nacimiento</th>
        <th>Peso Actual</th>
        <th>Peso Habitual</th>
        <th>Peso Ajustado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of listaPacientes | async">
        <td>{{ p.codigo_paciente }}</td>
        <td>{{ p.nombre }} {{ p.apellido }}</td>
        <td>{{ p.sexo }}</td>
        <td>{{ p.talla }}</td>
        <td>{{ p.estado_civil }}</td>
        <td>{{ p.fecha_nacimiento | date: 'd/MM/y' }}</td>
        <td>{{ p.peso_actual | number: '1.1-2' }} Kg.</td>
        <td>{{ p.peso_habitual | number: '1.1-2' }} Kg.</td>
        <td>{{ p.peso_ajusta | number: '1.1-2' }} Kg.</td>
        <td>
          <Button type="button" class="btn btn-primary">Editar</Button>
          <Button type="button" class="btn btn-danger">Eliminar</Button>
        </td>
      </tr>
    </tbody>
  </table>
